### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import os

# File to Load (Remember to Change These)
filepath = os.path.join("Resources","purchase_data.csv")

# Read Purchasing File and store into Pandas data frame
player_data = pd.read_csv(filepath)
player_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
Total_number_of_players = player_data ["SN"].nunique()
Total_number_of_players

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# Calculate the total number of purchases based on Item ID

TotalPurchases = player_data["Item ID"].count()

# Calculate the average purchase price by having the total revenues first

TotalRevenue = player_data["Price"].sum()

AvgPurchasePrice = player_data["Price"].mean()

# Calculate the number of unique items based on Item name

UniqueItems = player_data ["Item Name"].nunique()

In [4]:
# Create a summary table to hold the results

Purchasing_analysis = pd.DataFrame({
    
    "Number of Unique Items":[UniqueItems],
    "Average Price":[AvgPurchasePrice],
    "Number of Purchases":[TotalPurchases],
    "Total Revenue":[TotalRevenue]    
    
})


# Convert "Total Revenue" and "Average Price" columns to float

Purchasing_analysis["Total Revenue"] = Purchasing_analysis["Total Revenue"].astype(float)
Purchasing_analysis["Average Price"] = Purchasing_analysis["Average Price"].astype(float)

# Format to go to two decimal places, include a dollar sign, and use comma notation


Purchasing_analysis["Total Revenue"] = Purchasing_analysis["Total Revenue"].map("${:,.2f}".format)
Purchasing_analysis["Average Price"] = Purchasing_analysis["Average Price"].map("${:.2f}".format)


Purchasing_analysis

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
# Extract the columns that contain the players' demographic data 

Player = player_data[["SN","Age","Gender"]]

Player.head()

# Remove the duplicate data since some players made multiple purchases

Unique_player = Player.drop_duplicates()

Unique_player.head()

# Calculate the number of players based on gender

Player_gender_total = Unique_player["Gender"].value_counts()

Player_gender_total

# Calculate the percentage of players based on gender

Percentage_of_players = Player_gender_total / Total_number_of_players * 100

Percentage_of_players

# Create a summary table to hold the results

Player_demographics_analysis = pd.DataFrame({
    
    "Total Count": Player_gender_total,
    "Percentage of Players":Percentage_of_players
})


# Format to go to two decimal places, include a percentage sign


Player_demographics_analysis["Percentage of Players"] = Player_demographics_analysis["Percentage of Players"].map("{:,.2f}%".format)

Player_demographics_analysis

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
# Find out the purchase cout

Gender_group = player_data.groupby(["Gender"]).count()["Price"]
Gender_group

# Find out the average purchase price

Gender_avg_purchase_price = player_data.groupby(["Gender"]).mean()["Price"]
Gender_avg_purchase_price

# Find out the total purchase value

Gender_total_purchase_value = player_data.groupby(["Gender"]).sum()["Price"]
Gender_total_purchase_value

# Find out the average purchase total per person by gender

Avg_purchase_total_per_person = Gender_total_purchase_value / Player_gender_total
Avg_purchase_total_per_person


# Create a summary table to hold the results

Gender_purchasing_analysis = pd.DataFrame({
        
    "Purchase Count":Gender_group,
    "Average Purchase Pirce":Gender_avg_purchase_price,
    "Total Purchase Value":Gender_total_purchase_value,
    "Avg Total Purchase per Person":Avg_purchase_total_per_person

})


# Format to go to two decimal places


Gender_purchasing_analysis["Average Purchase Pirce"] = Gender_purchasing_analysis["Average Purchase Pirce"].map("${:,.2f}".format)
Gender_purchasing_analysis["Total Purchase Value"] = Gender_purchasing_analysis["Total Purchase Value"].map("${:,.2f}".format)
Gender_purchasing_analysis["Avg Total Purchase per Person"] = Gender_purchasing_analysis["Avg Total Purchase per Person"].map("${:,.2f}".format)

Gender_purchasing_analysis

,Purchase Count,Average Purchase Pirce,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [7]:
# Establish bins for ages

Age_bins = [0,9.9,14.9,19.9,24.9,29.9,34.9,39.9,100]

Age_labels = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

# Categorize the players with the age bins

Unique_player["Age Group"] = pd.cut(Unique_player["Age"],Age_bins,labels = Age_labels)

# Calculate the numbers and percentages by age group

Age_total = Unique_player["Age Group"].value_counts()
Age_percentage = Age_total / Total_number_of_players * 100

# Create a summary table to hold the results

Age_demographics_analysis = pd.DataFrame({
    
    "Total Count":Age_total,
    "Percentage of Players":Age_percentage
})

# Format to go to two decimal places

Age_demographics_analysis["Percentage of Players"] = Age_demographics_analysis["Percentage of Players"].map("{:,.2f}%".format)

# Display the data with the sorted index

Age_demographics_analysis.sort_index()

<ipython-input-7-f5184130a515>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Unique_player["Age Group"] = pd.cut(Unique_player["Age"],Age_bins,labels = Age_labels)

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
# Categorize the players with the age bins

player_data["Age Group"] = pd.cut(player_data["Age"],Age_bins,labels = Age_labels)

# Find out the purchase cout

Age_count = player_data.groupby(["Age Group"]).count()["Price"]
Age_count

# Find out the average purchase price

Age_avg_purchase_price = player_data.groupby(["Age Group"]).mean()["Price"]
Age_avg_purchase_price

# Find out the total purchase value

Age_total_purchase_value = player_data.groupby(["Age Group"]).sum()["Price"]
Age_total_purchase_value

# Find out the average purchase total per person by gender

Avg_purchase_total_per_person_age = Age_total_purchase_value / Age_total
Avg_purchase_total_per_person_age

# Create a summary table to hold the results

Age_purchasing_analysis = pd.DataFrame({
        
    "Purchase Count":Age_count,
    "Average Purchase Pirce":Age_avg_purchase_price,
    "Total Purchase Value":Age_total_purchase_value,
    "Avg Total Purchase per Person":Avg_purchase_total_per_person_age

})


# Format to go to two decimal places


Age_purchasing_analysis["Average Purchase Pirce"] = Age_purchasing_analysis["Average Purchase Pirce"].map("${:,.2f}".format)
Age_purchasing_analysis["Total Purchase Value"] = Age_purchasing_analysis["Total Purchase Value"].map("${:,.2f}".format)
Age_purchasing_analysis["Avg Total Purchase per Person"] = Age_purchasing_analysis["Avg Total Purchase per Person"].map("${:,.2f}".format)

Age_purchasing_analysis

,Purchase Count,Average Purchase Pirce,Total Purchase Value,Avg Total Purchase per Person
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
# Find out the purchase cout

Buyer_count = player_data.groupby(["SN"]).count()["Price"]
Buyer_count

# Find out the average purchase price

Buyer_avg_purchase_price = player_data.groupby(["SN"]).mean()["Price"]
Buyer_avg_purchase_price

# Find out the total purchase value

Buyer_total_purchase_value = player_data.groupby(["SN"]).sum()["Price"]
Buyer_total_purchase_value

# Create a summary table to hold the results

Buyer_purchasing_analysis = pd.DataFrame({
        
    "Purchase Count":Buyer_count,
    "Average Purchase Pirce":Buyer_avg_purchase_price,
    "Total Purchase Value":Buyer_total_purchase_value

})

# Sort the total purchase value in descending order

Buyer = Buyer_purchasing_analysis.sort_values("Total Purchase Value", ascending = False)


# Format to go to two decimal places

Buyer["Average Purchase Pirce"] = Buyer["Average Purchase Pirce"].map("${:,.2f}".format)
Buyer["Total Purchase Value"] = Buyer["Total Purchase Value"].map("${:,.2f}".format)



# Identify the top 5 spenders in the game by total purchase value

Buyer.head()

             Purchase Count Average Purchase Pirce Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [10]:
# Retrieve the item ID, item name, and item price columns

Items = player_data.loc[:,["Item ID","Item Name","Price"]]
Items.head()

# Find out the purchase cout

Items_count = Items.groupby(["Item ID","Item Name"]).count()["Price"]
Items_count

# Find out the average purchase price

Items_price = Items.groupby(["Item ID","Item Name"]).mean()["Price"]
Items_price

# Find out the total purchase value

Items_total_purchase_value = Items.groupby(["Item ID","Item Name"]).sum()["Price"]
Items_total_purchase_value

# Create a summary table to hold the results

Most_popular_items = pd.DataFrame({
    
    "Purchase Count":Items_count,
    "Items Pirce":Items_price,
    "Total Purchase Value":Items_total_purchase_value   
})

# Sort the purchase count in descending order

Most_popular_items_count = Most_popular_items.sort_values("Purchase Count", ascending = False)

# Format to go to two decimal places

Most_popular_items_count["Items Pirce"] = Most_popular_items_count["Items Pirce"].map("${:,.2f}".format)
Most_popular_items_count["Total Purchase Value"] = Most_popular_items_count["Total Purchase Value"].map("${:,.2f}".format)

# Identify the most popular items purchased in the game by total purchase count

Most_popular_items_count.head()

,,Purchase Count,Items Pirce,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [11]:
# Sort the total purchase value in descending order

Most_profitable_items_value = Most_popular_items.sort_values("Total Purchase Value", ascending = False)

# Format to go to two decimal places

Most_profitable_items_value["Items Pirce"] = Most_profitable_items_value["Items Pirce"].map("${:,.2f}".format)
Most_profitable_items_value["Total Purchase Value"] = Most_profitable_items_value["Total Purchase Value"].map("${:,.2f}".format)

# Identify the most profitable items purchased in the game by total purchase value
Most_profitable_items_value.head()

,,Purchase Count,Items Pirce,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80